node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

.env
scaffold.sh
*.db
lib/python*
bin/
pyvenv.cfg
ctx.txt
context.txt
*.log

ios
android

# Build directories
build/
dist/

.vscode/
.history
.idea/


# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
